* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.low-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    background-color: rgb(142, 147, 150);
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.random-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
}

.random-squares {
    display: flex;
    justify-content: space-around;
}

.random-squares div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.square {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10%;
    width: 150px;
    height: 150px;
}

.thor {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.thunder {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-size: 24px;
    font-weight: 700;
}

.advert {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    color: #F9FAF8;
}

.action {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

a, .subtext {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.awesome {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
}